@import "./normalize.scss";
@import "./antDesign.scss";
// color
.color-white{color: white;}

// font-size
.ft-12{font-size: 12px;}

// tetx-align
.tetx-center{text-align: center;}

// width
.width-170{width: 180%;}