@import "./normalize.scss";
@import "./antDesign.scss";
// color
.color-white {
  color: white;
}

// font-size
.ft-12 {
  font-size: 12px;
}

// tetx-align
.tetx-center {
  text-align: center;
}

// width
.width-170 {
  width: 180%;
}
/**自定义公共样式*/
.flex {
  display: flex;
}
.just-c-s {
  justify-content: space-between;
}
.just-c-c {
  justify-content: center;
}
.just-c-r {
  justify-content: space-around;
}
.ali-i-c {
  align-items: center;
}
.just-c-f {
  justify-content: flex-end;
}
.just-c-start {
  justify-content: flex-start;
}
.flex-dir-col {
  flex-direction: column;
}
.cursor-p {
  cursor: pointer;
}
.flex-wrap {
  flex-wrap: wrap;
}
.head-right {
  float: right;
}
.head-left {
  float: left;
}
